footer.page-footer(style='background-color: #303F9F; padding-top:5%')
    .container
        .row
            .col-lg-4
                br
                a.brand-logo(href='#')
                    span(style="color:#FF4081; font-size:24px") WiFi Switch
            .col-lg-4
                br
                a.waves-effect.waves-light.btn(style='background-color: #FF4081; color:white') Registra un dispositivo
            .col-lg-4
                br
                a.waves-effect.waves-light.btn(style='background-color: #FF4081; color:white') Conoce mas sobre nosotros
        br
        .col-lg-12(style='background-color: #FF4081; height: 1px')
        br
        .row
            br
            .col-lg-4
                .col-lg-2
                    a(href='#')
                        i.fa.fa-facebook.fa-lg(aria-hidden='true' style='color:#FF4081')
                .col-lg-2
                    a(href='#')
                        i.fa.fa-twitter.fa-lg(aria-hidden='true' style='color:#FF4081')
                .col-lg-2
                    a(href='#')
                        i.fa.fa-instagram.fa-lg(aria-hidden='true' style='color:#FF4081')
                .col-lg-2
                    a(href='#')
                        i.fa.fa-google-plus.fa-lg(aria-hidden='true' style='color:#FF4081')
            .col-lg-4
                a(href='#' style='color:#FF4081') Ayuda
                br
                a(href='#' style='color:#FF4081') Nosotros
                br
                a(href='#' style='color:#FF4081') Legal
            .col-lg-4
                a(href='#' style='color:#FF4081') Developers
                br
                a(href='#' style='color:#FF4081') oportunidades Laborales
                br
                a(href='#' style='color:#FF4081') Noticias
        br
