extends layoutLanding
block styles


block content
    .container.backgroundImage
        .row
            .col-lg-12.col-sm-12(style='padding-top:10%;padding-left:60%')
                h1(style='color:#FF4081; font-size:40px' ) Wifi Switch
                p(style='color:white; font-size:22px')
                    | Todos tus interruptores en la palma de tu mano, cuando los necesites y donde los necesites. Toma el control de tu tecnologia.
                button.btn.btn-primary(type='button' style='background-color:#FF4081;font-size:20px') Pruebalo Ahora
    .col-lg-12.col-md-12.backgroundSection
        .container
            .row(style='padding-top:5%')
                .col-lg-4.col-md-4.text-center
                    i.fa.fa-wifi.fa-4x.logoColor(aria-hidden='true')
                    br
                    br
                    span(style='color:white; font-size:24px') Sin cables molestos, totalmente inalámbrico
                .col-lg-4.col-md-4.text-center
                    i.fa.fa-location-arrow.fa-4x.logoColor(aria-hidden='true')
                    br
                    br
                    span(style='color:white; font-size:24px') Donde quieras, cuando quieras
                .col-lg-4.col-md-4.text-center
                    i.fa.fa-mobile.fa-4x.logoColor(aria-hidden='true')
                    br
                    br
                    span(style='color:white; font-size:24px') Aplicación móvil para darte mas movilidad
            br
    .col-lg-12.col-md-12.backgroundSection2
        .container
            .row(style='padding-top:5%')
                .col-lg-6.text-center
                    br
                    br
                    br
                    span(style='font-size:24px') Puedes saber la ubicacion exacta de cada uno de tus dispositivos, poder ver su estado y controlarlos desde la comodidad de tu hogar o incluso cuando no estes en tu casa.
                .col-lg-6.text-center
                    img.img-rounded(src='/img/iot2.jpg', width='85%', height='85%')
            br
    .col-lg-12.col-md-12.backgroundSection
        .container
            .row(style='padding-top:5%')
                .col-lg-6.text-center
                    img.img-rounded(src='/img/iot3.jpg', width='85%', height='85%')
                    br
                .col-lg-6.text-center
                    br
                    br
                    br
                    br
                    span(style='font-size:24px; color:white') Una aplicación sencilla, cómoda y práctica para ayudarte a tener todo lo que necesites controlar, al alcance de tus manos
            br
    .col-lg-12.col-md-12.backgroundSection2
        .container
            .row(style='padding-top:5%')
                .col-lg-6.text-center
                    br
                    br
                    br
                    span(style='font-size:24px') Utilizar nuestras diversas plataformas te permite estar pendiente de tus dispositivos sin importar el lugar, incluso si estas atrapado en en embotellamiento
                .col-lg-6.text-center
                    img.img-rounded(src='/img/iot4.jpg', width='85%', height='85%')
                    br
            br
block scripts
