<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CISCO PAPA</title>
</head>
<body>
<section id="slider-section">
    <div class="slider fullscreen">
        <ul class="slides">
            <li>
                <img src="/Hoken/assets/images/front1.jpg">
                <div style="padding-top: 15%">
                    <div class="row">
                        <div class="col l4 offset-l8">
                            <h4>Ahorra, viaja r&aacute;pido y c&oacute;modo</h4>
                            <h5 class="light grey-text text-lighten-3">
                                Si eres de los que piensan que tu tiempo es oro, toma control de &eacute;l y viaja con
                                blur
                            </h5>
                            <br><br>
                            <a href='#' style="background-color: #01579b;"
                               class="waves-effect accent-2 btn">&Uacute;nete a la
                                comunidad</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
</body>
</html>

